.container-fluid {
    text-align: center;
}

.bar {
    fill: orange;
        }

.light {
    background-color: #D8D8D8;
}

.circle {
    height: 500px;
}

.margined {
    margin-top: 150px;
    color: #4E5D6C;
}