.container-fluid {
    text-align: center;
}

.bar {
    fill: orange;
        }

.light {
    background-color: #D8D8D8;
}

.circle {
    height: 500px;
}

.margined {
    margin-top: 150px;
    color: #4E5D6C;
}
.compare {
    margin-top: 50px;
}
div.svg-container {
    margin-left: auto;
    margin-right: auto;
}
/*     MEDIA     */

@media (max-width: 992px) {
    .margined {
        margin-top: 25px;
    }
    
    .circle {
        height: 800px;
    }
}